<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

	<!-- EN: Mousekin Race -->
	<MousekinRace_SettingsCategory_Heading>마우스킨</MousekinRace_SettingsCategory_Heading>
	
	<!-- EN: Race -->
	<MousekinRace_Settings_SectionRace_Heading>종류</MousekinRace_Settings_SectionRace_Heading>

	<!-- EN: Earless Mousekins are suicidal -->
	<MousekinRace_Settings_SectionRace_EarlessMousekinsAreSuicidal_Label>귀가 없는 마우스킨은 자살한다</MousekinRace_Settings_SectionRace_EarlessMousekinsAreSuicidal_Label>

	<!-- EN: Mousekins who lose both their ears and do not receive prosthetic or natural implants will commit suicide after 15 in-game days due to social stigma.\n\nDisabling this will keep them alive, but they will continue to experience mood debuffs from missing ears. -->
	<MousekinRace_Settings_SectionRace_EarlessMousekinsAreSuicidal_Tooltip>두 귀를 모두 잃고 보철 또는 천연 이식을 받지 못한 마우스킨은 사회적 낙인으로 인해 게임 내에서 15일 후에 자살합니다.\n\n이 기능을 비활성화하면 마우스는 계속 살아있지만 귀가 없어진 기분 디버프를 계속 경험하게 됩니다.</MousekinRace_Settings_SectionRace_EarlessMousekinsAreSuicidal_Tooltip>
	
	<!-- EN: Miscellaneous -->
	<MousekinRace_Settings_SectionMisc_Heading>기타</MousekinRace_Settings_SectionMisc_Heading>
	
	<!-- EN: Church tithe multiplier: {0}x -->
	<MousekinRace_Settings_SectionMisc_ChurchTitheMultiplier_Label>교회 십일조 배율: {0}x</MousekinRace_Settings_SectionMisc_ChurchTitheMultiplier_Label>

	<!-- EN: Specify the multiplier applied to the amount of silver tithe generated at the end of church service gatherings. -->
	<MousekinRace_Settings_SectionMisc_ChurchTitheMultiplier_Tooltip>교회 예배 모임이 끝날 때 발생하는 은 십일조 금액에 적용되는 배수를 지정합니다.</MousekinRace_Settings_SectionMisc_ChurchTitheMultiplier_Tooltip>
	
	<!-- EN: Root cellar temperature: {0} -->
	<MousekinRace_Settings_SectionMisc_RootCellarTemperature_Label>루트 지하실 온도: {0}</MousekinRace_Settings_SectionMisc_RootCellarTemperature_Label>
	
	<!-- EN: Specify the temperature at which root cellars refrigerate their contents. -->
	<MousekinRace_Settings_SectionMisc_RootCellarTemperature_Tooltip>루트 지하실 내용물을 냉장 보관하는 온도를 지정하십시오.</MousekinRace_Settings_SectionMisc_RootCellarTemperature_Tooltip>
	
	<!-- EN: Faction Allegiance system -->
	<MousekinRace_Settings_SectionAllegianceSys_Heading>진영 충성 시스템을</MousekinRace_Settings_SectionAllegianceSys_Heading>
	
	<!-- EN: Random trade caravan interval: {0} -->
	<MousekinRace_Settings_SectionAllegianceSys_RandomTradeCaravanInterval_Label>무작위 무역 캐러밴 간격: {0}</MousekinRace_Settings_SectionAllegianceSys_RandomTradeCaravanInterval_Label>
	
	<!-- EN: Specify how often a random caravan trader from the chosen allegiance faction should visit your settlements. -->
	<MousekinRace_Settings_SectionAllegianceSys_RandomTradeCaravanInterval_Tooltip>선택한 충성 진영의 무작위 캐러밴 상인이 내 정착지를 방문하는 빈도를 지정합니다.</MousekinRace_Settings_SectionAllegianceSys_RandomTradeCaravanInterval_Tooltip>

</LanguageData>