<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

	<!-- EN: Mousekin Race -->
	<MousekinRace_SettingsCategory_Heading>白鼠族</MousekinRace_SettingsCategory_Heading>

	<!-- EN: Earless Mousekins are suicidal -->
	<MousekinRace_Settings_EarlessMousekinsAreSuicidal_Title>失去耳朵的白鼠族是否会自杀</MousekinRace_Settings_EarlessMousekinsAreSuicidal_Title>

	<!-- EN: Mousekins who lose both their ears and do not receive prosthetic or natural implants will commit suicide after 15 in-game days due to social stigma.\n\nDisabling this will keep them alive, but they will continue to experience mood debuffs from missing ears. -->
	<MousekinRace_Settings_EarlessMousekinsAreSuicidal_Desc>失去双耳且未接受假耳或移植耳的白鼠族，会由于社会耻辱感而在游戏中15天后自杀。\n\n禁用此选项将使他们存活下来，但他们会继续遭受情绪减益。</MousekinRace_Settings_EarlessMousekinsAreSuicidal_Desc>

</LanguageData>