<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

	<!-- EN: Mousekin Race -->
	<MousekinRace_SettingsCategory_Heading>白鼠族</MousekinRace_SettingsCategory_Heading>
	
	<!-- EN: Race -->
	<MousekinRace_Settings_SectionRace_Heading>种族</MousekinRace_Settings_SectionRace_Heading>

	<!-- EN: Earless Mousekins are suicidal -->
	<MousekinRace_Settings_SectionRace_EarlessMousekinsAreSuicidal_Label>失去耳朵的白鼠族是否会自杀</MousekinRace_Settings_SectionRace_EarlessMousekinsAreSuicidal_Label>

	<!-- EN: Mousekins who lose both their ears and do not receive prosthetic or natural implants will commit suicide after 15 in-game days due to social stigma.\n\nDisabling this will keep them alive, but they will continue to experience mood debuffs from missing ears. -->
	<MousekinRace_Settings_SectionRace_EarlessMousekinsAreSuicidal_Tooltip>失去双耳且未接受假耳或移植耳的白鼠族，会由于社会耻辱感而在游戏中15天后自杀。\n\n禁用此选项将使他们存活下来，但他们会继续遭受情绪减益。</MousekinRace_Settings_SectionRace_EarlessMousekinsAreSuicidal_Tooltip>
	
	<!-- EN: Miscellaneous -->
	<MousekinRace_Settings_SectionMisc_Heading>杂项</MousekinRace_Settings_SectionMisc_Heading>
	
	<!-- EN: Church tithe multiplier: {0}x -->
	<MousekinRace_Settings_SectionMisc_ChurchTitheMultiplier_Label>教会什一奉献倍率: {0}x</MousekinRace_Settings_SectionMisc_ChurchTitheMultiplier_Label>

	<!-- EN: Specify the multiplier applied to the amount of silver tithe generated at the end of church service gatherings. -->
	<MousekinRace_Settings_SectionMisc_ChurchTitheMultiplier_Tooltip>指定教会礼拜结束时所产生的白银什一奉献金额的倍率。</MousekinRace_Settings_SectionMisc_ChurchTitheMultiplier_Tooltip>
	
	<!-- EN: Root cellar temperature: {0} -->
	<MousekinRace_Settings_SectionMisc_RootCellarTemperature_Label>根窖温度: {0}</MousekinRace_Settings_SectionMisc_RootCellarTemperature_Label>
	
	<!-- EN: Specify the temperature at which root cellars refrigerate their contents. -->
	<MousekinRace_Settings_SectionMisc_RootCellarTemperature_Tooltip>指定根窖冷藏生食的温度。</MousekinRace_Settings_SectionMisc_RootCellarTemperature_Tooltip>
	
	<!-- EN: Faction Allegiance system -->
	<MousekinRace_Settings_SectionAllegianceSys_Heading>派系效忠系统</MousekinRace_Settings_SectionAllegianceSys_Heading>
	
	<!-- EN: Random trade caravan interval: {0} -->
	<MousekinRace_Settings_SectionAllegianceSys_RandomTradeCaravanInterval_Label>随机贸易商队间隔: {0}</MousekinRace_Settings_SectionAllegianceSys_RandomTradeCaravanInterval_Label>
	
	<!-- EN: Specify how often a random caravan trader from the chosen allegiance faction should visit your settlements. -->
	<MousekinRace_Settings_SectionAllegianceSys_RandomTradeCaravanInterval_Tooltip>指定所选效忠派系的随机贸易商队访问定居点的频率。</MousekinRace_Settings_SectionAllegianceSys_RandomTradeCaravanInterval_Tooltip>

</LanguageData>