<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

	<!-- EN: Mousekin Race -->
	<MousekinRace_SettingsCategory_Heading>マウスキン</MousekinRace_SettingsCategory_Heading>
	
	<!-- EN: Race -->
	<MousekinRace_Settings_SectionRace_Heading>種族</MousekinRace_Settings_SectionRace_Heading>

	<!-- EN: Earless Mousekins are suicidal -->
	<MousekinRace_Settings_SectionRace_EarlessMousekinsAreSuicidal_Label>耳なしマウスキンは自殺行為</MousekinRace_Settings_SectionRace_EarlessMousekinsAreSuicidal_Label>

	<!-- EN: Mousekins who lose both their ears and do not receive prosthetic or natural implants will commit suicide after 15 in-game days due to social stigma.\n\nDisabling this will keep them alive, but they will continue to experience mood debuffs from missing ears. -->
	<MousekinRace_Settings_SectionRace_EarlessMousekinsAreSuicidal_Tooltip>両耳を失ったマウスキンが義肢や天然のインプラントを受けなかった場合、社会的な汚名によりゲーム内で15日後に自殺してしまいます.\n\nこれを無効化すると、生存は可能ですが、耳の欠損による感情状態の低下が継続します.</MousekinRace_Settings_SectionRace_EarlessMousekinsAreSuicidal_Tooltip>
	
	<!-- EN: Miscellaneous -->
	<MousekinRace_Settings_SectionMisc_Heading>その他</MousekinRace_Settings_SectionMisc_Heading>
	
	<!-- EN: Church tithe multiplier: {0}x -->
	<MousekinRace_Settings_SectionMisc_ChurchTitheMultiplier_Label>教会の什分の一乗数: {0}x</MousekinRace_Settings_SectionMisc_ChurchTitheMultiplier_Label>

	<!-- EN: Specify the multiplier applied to the amount of silver tithe generated at the end of church service gatherings. -->
	<MousekinRace_Settings_SectionMisc_ChurchTitheMultiplier_Tooltip>教会の礼拝の集まりの終わりに発生する銀什分の一の金額に適用される倍率を指定します.</MousekinRace_Settings_SectionMisc_ChurchTitheMultiplier_Tooltip>
	
	<!-- EN: Root cellar temperature: {0} -->
	<MousekinRace_Settings_SectionMisc_RootCellarTemperature_Label>地下貯蔵庫の温度: {0}</MousekinRace_Settings_SectionMisc_RootCellarTemperature_Label>
	
	<!-- EN: Specify the temperature at which root cellars refrigerate their contents. -->
	<MousekinRace_Settings_SectionMisc_RootCellarTemperature_Tooltip>地下貯蔵庫の冷蔵温度を指定します.</MousekinRace_Settings_SectionMisc_RootCellarTemperature_Tooltip>
	
	<!-- EN: Faction Allegiance system -->
	<MousekinRace_Settings_SectionAllegianceSys_Heading>派閥忠誠システム</MousekinRace_Settings_SectionAllegianceSys_Heading>
	
	<!-- EN: Random trade caravan interval: {0} -->
	<MousekinRace_Settings_SectionAllegianceSys_RandomTradeCaravanInterval_Label>ランダム貿易キャラバン間隔: {0}</MousekinRace_Settings_SectionAllegianceSys_RandomTradeCaravanInterval_Label>
	
	<!-- EN: Specify how often a random caravan trader from the chosen allegiance faction should visit your settlements. -->
	<MousekinRace_Settings_SectionAllegianceSys_RandomTradeCaravanInterval_Tooltip>選択した忠誠派閥のランダムなキャラバン商人が入植地を訪れる頻度を指定します.</MousekinRace_Settings_SectionAllegianceSys_RandomTradeCaravanInterval_Tooltip>

</LanguageData>