<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

	<MousekinRace_SettingsCategory_Heading>Mousekin Race</MousekinRace_SettingsCategory_Heading>
	
	<MousekinRace_Settings_SectionRace_Heading>Race</MousekinRace_Settings_SectionRace_Heading>
	
	<MousekinRace_Settings_SectionRace_EarlessMousekinsAreSuicidal_Label>Earless Mousekins are suicidal</MousekinRace_Settings_SectionRace_EarlessMousekinsAreSuicidal_Label>
	
	<MousekinRace_Settings_SectionRace_EarlessMousekinsAreSuicidal_Tooltip>Mousekins who lose both their ears and do not receive prosthetic or natural implants will commit suicide after 15 in-game days due to social stigma.\n\nDisabling this will keep them alive, but they will continue to experience mood debuffs from missing ears.</MousekinRace_Settings_SectionRace_EarlessMousekinsAreSuicidal_Tooltip>
	
	<MousekinRace_Settings_SectionMisc_Heading>Miscellaneous</MousekinRace_Settings_SectionMisc_Heading>
	
	<MousekinRace_Settings_SectionMisc_ChurchTitheMultiplier_Label>Church tithe multiplier: {0}x</MousekinRace_Settings_SectionMisc_ChurchTitheMultiplier_Label>
	
	<MousekinRace_Settings_SectionMisc_ChurchTitheMultiplier_Tooltip>Specify the multiplier applied to the amount of silver tithe generated at the end of church service gatherings.</MousekinRace_Settings_SectionMisc_ChurchTitheMultiplier_Tooltip>
	
	<MousekinRace_Settings_SectionMisc_RootCellarTemperature_Label>Root cellar temperature: {0}</MousekinRace_Settings_SectionMisc_RootCellarTemperature_Label>
	
	<MousekinRace_Settings_SectionMisc_RootCellarTemperature_Tooltip>Specify the temperature at which root cellars refrigerate their contents.</MousekinRace_Settings_SectionMisc_RootCellarTemperature_Tooltip>
	
	<MousekinRace_Settings_SectionAllegianceSys_Heading>Faction Allegiance system</MousekinRace_Settings_SectionAllegianceSys_Heading>
	
	<MousekinRace_Settings_SectionAllegianceSys_RandomTradeCaravanInterval_Label>Random trade caravan interval: {0}</MousekinRace_Settings_SectionAllegianceSys_RandomTradeCaravanInterval_Label>
	
	<MousekinRace_Settings_SectionAllegianceSys_RandomTradeCaravanInterval_Tooltip>Specify how often a random caravan trader from the chosen allegiance faction should visit your settlements.</MousekinRace_Settings_SectionAllegianceSys_RandomTradeCaravanInterval_Tooltip>

</LanguageData>